In [7]:
import pandas as pd
import json

# Read JSON file
with open('combined_filtered_data.json') as f:
    data = json.load(f)

# Convert JSON data to DataFrame
df = pd.json_normalize(data)

# Save DataFrame to CSV
df.to_csv('data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [8]:
# Read CSV file into DataFrame
df = pd.read_csv('data.csv')
df

,zpid,bedrooms,bathrooms,price,zipcode,hdpUrl,cityId,homeType,livingArea,livingAreaValue,...,photoCount,originalPhotos,lastSoldPrice,address.streetAddress,address.city,address.state,address.zipcode,address.neighborhood,address.community,address.subdivision
0,111033033,0.0,1.0,299000,10017,/homedetails/25-Tudor-City-Pl-APT-1417-New-Yor...,6181.0,CONDO,0.0,0.0,...,7,['https://photos.zillowstatic.com/fp/181f86bf5...,305000.0,25 Tudor City Pl APT 1417,New York,NY,10017,NaN,NaN,NaN
1,347729623,1.0,1.0,699000,10021,/homedetails/181-E-73rd-St-APT-4B-New-York-NY-...,6181.0,CONDO,0.0,0.0,...,6,['https://photos.zillowstatic.com/fp/d444020f0...,NaN,181 E 73rd St APT 4B,New York,NY,10021,NaN,NaN,NaN
2,347812197,4.0,4.0,7600000,10024,/homedetails/251-W-91st-St-UNIT-17A-New-York-N...,6181.0,CONDO,2752.0,2752.0,...,22,['https://photos.zillowstatic.com/fp/dcdf08f2f...,NaN,251 W 91st St UNIT 17A,New York,NY,10024,NaN,NaN,NaN
3,347570525,3.0,4.0,6950000,10011,/homedetails/555-W-22nd-St-12CE-New-York-NY-10...,6181.0,CONDO,2395.0,2395.0,...,12,['https://photos.zillowstatic.com/fp/bf4a4a17a...,NaN,555 W 22nd St #12CE,New York,NY,10011,NaN,NaN,NaN
4,347757615,4.0,3.0,1779000,10065,/homedetails/333-E-66th-St-3E-New-York-NY-1006...,6181.0,CONDO,2050.0,2050.0,...,13,['https://photos.zillowstatic.com/fp/130ff882d...,NaN,333 E 66th St #3E,New York,NY,10065,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,3761038,3.0,2.0,729000,60305,/homedetails/333-Franklin-Ave-River-Forest-IL-...,20191.0,SINGLE_FAMILY,2100.0,2100.0,...,36,['https://photos.zillowstatic.com/fp/d991fcd5c...,445000.0,333 Franklin Ave,River Forest,IL,60305,NaN,NaN,NaN
6932,2075479388,3.0,2.0,280000,60626,/homedetails/6969-N-Ashland-Ave-303-Chicago-IL...,17426.0,CONDO,0.0,0.0,...,22,['https://photos.zillowstatic.com/fp/96dbfe31e...,100000.0,6969 N Ashland Ave #303,Chicago,IL,60626,NaN,NaN,NaN
6933,61961724,2.0,2.0,250000,60480,/homedetails/8733-Willow-Blvd-APT-4A-Willow-Sp...,49870.0,CONDO,1200.0,1200.0,...,13,['https://photos.zillowstatic.com/fp/dfee2629b...,133000.0,8733 Willow Blvd APT 4A,Willow Springs,IL,60480,NaN,NaN,NaN
6934,2085613731,3.0,4.0,1125000,60657,/homedetails/732-W-Aldine-Ave-1-Chicago-IL-606...,17426.0,CONDO,2650.0,2650.0,...,32,['https://photos.zillowstatic.com/fp/9d2e7e6b0...,NaN,732 W Aldine Ave #1,Chicago,IL,60657,NaN,NaN,NaN
6935,3943246,5.0,2.0,324900,60638,/homedetails/6037-S-Mason-Ave-Chicago-IL-60638...,17426.0,SINGLE_FAMILY,2100.0,2100.0,...,24,['https://photos.zillowstatic.com/fp/14ad5a17b...,NaN,6037 S Mason Ave,Chicago,IL,60638,NaN,NaN,NaN

In [9]:
null_counts = df.isnull().sum()
null_counts

zpid                        0
bedrooms                  127
bathrooms                 119
price                       0
zipcode                     0
hdpUrl                      0
cityId                    106
homeType                    0
livingArea                103
livingAreaValue           103
zestimate                2435
rentZestimate            1832
description                83
latitude                    0
longitude                   0
homeInsights              348
photoCount                  0
originalPhotos              0
lastSoldPrice            2206
address.streetAddress       0
address.city                0
address.state               0
address.zipcode             0
address.neighborhood     6933
address.community        6936
address.subdivision      6936
dtype: int64

In [10]:
df.drop(columns=['address.neighborhood','address.community','zestimate','lastSoldPrice','address.subdivision'], inplace=True)
df
df.to_csv('data.csv', index=False)