In [1]:
import pandas as pd

In [2]:
users = pd.DataFrame(columns=['weight_bed', 'weight_bath', 'weight_price', 'weight_area', 'weight_leisure', 'weight_shop', 'weight_school', 'weight_transit', 'weight_type',
                              'val_bed', 'val_bath', 'val_price', 'val_area', 'val_leisure', 'val_shop', 'val_school', 'val_transit', 'val_type', 'description', 'state'])

users

Empty DataFrame
Columns: [weight_bed, weight_bath, weight_price, weight_area, weight_leisure, weight_shop, weight_school, weight_transit, weight_type, val_bed, val_bath, val_price, val_area, val_leisure, val_shop, val_school, val_transit, val_type, description, state]
Index: []

In [3]:
users.loc[len(users)] = {
    'weight_bed' : 5, 
    'weight_bath': 5, 
    'weight_price': 1, 
    'weight_area' : 1, 
    'weight_leisure' : 1, 
    'weight_shop' : 1, 
    'weight_school' : 1, 
    'weight_transit' : 1, 
    'weight_type' : 1,                          
    'val_bed' : 2, 
    'val_bath' : 1, 
    'val_price' : 1700000,
    'val_area' : 2000, 
    'val_leisure' : 20, 
    'val_shop' : 400, 
    'val_school' : 250, 
    'val_transit' : 200, 
    'val_type' : 2, 
    'description': "A large backyard, swimming pool, spacious living room, furniture in bedroom, tiled bathroom",
    'state' : 'NY'
}

users

,weight_bed,weight_bath,weight_price,weight_area,weight_leisure,weight_shop,weight_school,weight_transit,weight_type,val_bed,val_bath,val_price,val_area,val_leisure,val_shop,val_school,val_transit,val_type,description,state
0,5,5,1,1,1,1,1,1,1,2,1,1700000,2000,20,400,250,200,2,"A large backyard, swimming pool, spacious livi...",NY

In [4]:
users.to_csv("Users.csv", index=False)